spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost

messaging:
  topics:
    payment-topic-name: payment-channel

account-service:
  host: localhost
  port: 8090

server:
  port: 9080

logging:
  level:
    root: info

scheduling:
  gather-payment: * * * ? * *
  payment-scheduler-pool-size: 10
  payment-scheduler-thread-name-prefix: payment-scheduler-